@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




@media (prefers-reduced-motion: no-preference) {
  .logo {
    @apply animate-logo-spin transform-style-3d;
  }
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg) /* Inicia en 0 grados de rotación en el eje Y */
  }
  to {
    transform: rotateY(360deg) /* Termina en 360 grados de rotación en el eje Y */
  }
}

.animate-logo-spin {
  animation: logo-spin 9s linear infinite;
}

.transform-style-3d {
  transform-style: preserve-3d; /* Para habilitar el giro en 3D */
}
